@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

@(Html.DevExtreme().Switch()
    .Value(false)
    .SwitchedOnText("Posiadam")
    .SwitchedOffText("Nie posiadam")
    .Width(120)
)

@*@(Html.DevExtreme().TagBox()
    .Items(Model.Items)
    .ShowSelectionControls(true)
    .ApplyValueMode(EditorApplyValueMode.UseButtons)
)*@