/* View */
.dictionary-definition-view .dx-widget {
    font-size: 16px;
}

/* Toolbar */
#dictionary-definition-grid .dx-toolbar-after {
    display: flex;
    gap: 20px;
    padding: 0;
    width: 100%;
}

    /* Search panel */
    #dictionary-definition-grid .dx-toolbar-after > div:first-child {
        flex-grow: 1;
    }

#dictionary-definition-grid .dx-datagrid-search-panel {
    width: 100% !important;
    margin: 0;
}

/* Hover row state */
#dictionary-definition-grid tr.dx-state-hover {
    /*background-color: #e6fffe;*/
}

/* Icons and its' hover, focus state */
#dictionary-definition-grid .dx-link-edit {
    color: rgba(255, 193, 7, .7);
}

#dictionary-definition-grid .dx-link-edit:hover {
    color: rgba(255, 193, 7, 1);
}

#dictionary-definition-grid .dx-link-delete {
    color: rgba(220, 53, 69, .7);
}

#dictionary-definition-grid .dx-link-delete:hover {
    color: rgba(220, 53, 69, 1);
}

#dictionary-definition-grid .dx-icon-bulletlist {
    color: rgba(51, 122, 183, .7);
}

#dictionary-definition-grid .dx-icon-bulletlist:hover {
    color: rgba(51, 122, 183, 1);
}

#dictionary-definition-grid .custom-dx-button:focus {
    outline: #5c95c5 solid 2px;
    outline-offset: 2px;
} 